__pycache__/
*.pyc

venv/
.venv/

dataset_collector/_work/
dataset_collector/input/
screenshots/


# Ignora todos os pesos

*.zip

# Exceto o modelo final
#!best.pt

# Pesos YOLO baixados da Ultralytics
yolov8*.pt

# Checkpoints intermediários
runs/**/weights/epoch*.pt

.vscode/